.WidgetSmList{
    list-style-type: none;
    margin-top: 20px;
}

.WidgetSmItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.WidgetSmImg{
    width: 40px;
}

.WidgetSmUserName{
    display: block;
    text-align: center;
}

.WidgetSmBtn{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

.WidgetSmUser{
    font-size: 12pt;
}

.WidgetSmUserTitle{
    font-size: 10pt;
    color: rgb(157, 157, 157);
    text-align: center;
    display: block;
}

.WidgetSmIcon{
    font-size: 14pt;
}