.newUserForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 30px;
}

.newUserBtn{
    width: 40%;
    height: 80%;
    justify-self: end;
}

.newUserPic{
    justify-self: end;
}

.newUserPicTitle{
    margin-right: 20px;
}