.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productTop{
    display: flex;
}

.productTopLeft{
    flex: 3;
    margin: 10px;
}

.productTopRight{
    flex: 2;
    margin: 90px 20px;
}

.productInfoTopImg{
    width: 40px;
}

.productInfoDetail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productInfoTop{
    width: 200px;
    height: 200px;
}

.productForm{
    display: flex;
    align-items: center;
    justify-content: start;
}

/* .productFormLeft,
.productFormRight{
    flex: 1;
} */
