.sidebar{
    height: calc(100vh - 50px);
    background-color: rgb(250, 250, 255);
    top: 50px;
    position: fixed;
    border-top-right-radius: 10px;
}
.sidebarwrapper{
    padding: 20px;
    color: rgb(106, 106, 106);
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    color: rgb(187, 186, 186);
}

.sidebarList{
    list-style-type: none;
    padding: 5px;
}

.sidebarItem{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    border-radius: 10px;
    padding: 5px 60px 5px 5px;
    margin: 3px;
}

.sidebarItem.active, .sidebarItem:hover{
    background-color: rgb(240, 240, 255);
}

.sidebarIcon{
    font-size: 20px;
    margin-right: 3px;
}
