*{
    margin: 0px;
}
.container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 70%;
    grid-template-rows: repeat(1, 1fr);
}
.link{
    text-decoration: none;
    color: inherit;
}