.UserListImg{
    width: 30px;
    margin-right: 10px;
}

.UserListUser{
    display: flex;
    align-items: center;
    color: black;

}

.UserListLink{
    text-decoration: none;
}

.UserListEdit{
    background-color: rgba(240, 248, 255, 0);
    border: 0px;
    border-radius: 50%;
    padding: 6px 8px;
    cursor: pointer;
}

.UserListEdit:hover{
    background-color: rgb(221, 221, 221);
}

.UserListEditIcon{
    color: rgb(103, 103, 103);
}